.Sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px 80px;
  font-family: Montserrat, sans-serif;

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__head {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;

    &--center {
      text-align: center;
    }
  }

  &__field {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 500;
    color: #8a8a8f;
  }

  &__error-msg {
    display: flex;
    font-size: 14px;
    margin: 0 0 24px;
    color: #fc0606;

    &::before {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      margin-right: 6px;
      background-image: url("../../img/icon-form-error.svg");
    }
  }

  &__input {
    box-sizing: border-box;
    outline: none;
    margin: 8px 0 24px;
    padding: 12px 16px;
    width: 400px;
    height: 48px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #000;
    color: #292929;

    &--error:invalid {
      border-bottom: 2px solid #fc0606;
    }
  }

  &__submit {
    margin: 32px 0;
    width: 400px;
    height: 48px;
    border: none;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #000;
    color: #fff;
  }

  &__forgot {
    font-size: 14px;
    font-weight: 500;
    text-align: right;
    text-decoration: none;
    color: #292929;
    cursor: pointer;
  }

  &__signed {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__is-signed {
    width: 20px;
    height: 20px;

    &:checked {
      accent-color: #000;
    }
  }

  &__is-signed-label {
    user-select: none;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    color: #8b98b0;

    a {
      text-decoration: none;
      font-weight: 500;
      color: #000;
    }
  }

  &__account-options {
    margin-bottom: 24px;
    text-align: center;
    color: #8b98b0;

    span {
      margin-left: 5px;
      font-weight: 600;
      color: #000;
      cursor: pointer;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #393939;

    &--pos-right {
      text-align: right;
    }

    &--bold {
      font-size: 16px;
      font-weight: 600;
    }
  }
}

.password {
  &__ui {
    position: absolute;
    right: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url('../../img/icon-password-eye-closed.svg');

    &--open {
      background-image: url('../../img/icon-password-eye.svg');
    }

    &--login {
      top: 217px;
    }

    &--reg--1 {
      top: 410px;
    }

    &--reg--2 {
      top: 520px;
    }

    &--reg--up--1 {
      top: 430px;
    }

    &--reg--up--2 {
      top: 545px;
    }
  }
}