$main-color: #000000;
$secondary-color: #a0a0a0;
$third-color: #383838;

$transition-time: .3s;

$default-side-margins: 32px;

$phone-min-width-1: 360px;
$phone-min-width-2: 768px;
$tablet-min-width: 992px;
$laptop-min-width: 1200px;
