@import "../../utils/vars";
@import "../../utils/mixins";

.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 0 $default-side-margins;
  width: 100vw;
  padding: 46px 32px;
  font-family: Montserrat, sans-serif;
  background-color: $main-color;
  z-index: 10;

  @include on-phone {
    .nav--links {
      display: none;
    }

    .nav--sign {
      width: 100%;
      justify-content: center;
    }

    #icon--like {
      display: none;
    }
  }

  @include on-tablet {
    .Header__menu {
      display: none;
    }

    .nav__link {
      font-size: 14px;
    }
  }

  @include on-laptop {
    .Header__menu {
      display: none;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    height: 30px;
  }

  &__menu {
    width: 24px;
    height: 24px;
    margin-right: 24px;
    cursor: pointer;
  }

  &__top-bar {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
  }

  &__right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  &__language-select {
    text-decoration: none;
    font-family: "Tenor Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
  }

  &__logo {
    text-decoration: none;
    font-family: Kodchasan, sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #525252;
  }

  &__icon {
    width: 24px;
    height: 24px;

    &--w-34 {
      width: 34px;
    }
  }
}

.logo {
  font-family: Kodchasan, sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  color: #fff;

  &__highlight {
    color: #caa79e;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 32px;
  height: 32px;

  &--links {
    flex-direction: row;
  }

  &--catalog {
    position: absolute;
    top: 150px;
    left: 610px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  &__link {
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #e2e2e2;

    &:hover::after {
      content: "";
      display: block;
      height: 2px;
      background-color: #fff;
    }

    &:focus {
      color: #caa79e;
    }

    &--upper {
      text-transform: uppercase;
      font-size: 18px;
    }
  }

  &__input {
    position: absolute;
    left: 1700px;
    padding: 10px 52px;
    width: 60vw;
    height: 44px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: #fff;
    color: #a3a3a3;
    user-select: none;
    transform: translate(-150%);
    z-index: 1;

    &:focus {
      color: #000;
    }

    &--search {
      display: flex;
      align-items: center;

      .lens {
        width: 24px;
        height: 24px;
        background-image: url("../../img/icon-search-black.svg");
        cursor: pointer;
        background-color: transparent;
        border: none;

        &--open {
          background-image: url("../../img/icon-search-white.svg");
        }

        &--close {
          position: absolute;
          left: 320px;
          transform: translateX(15px);
          z-index: 2;
        }
      }
    }
  }
}

.sign-in {
  width: 24px;
  height: 24px;
}

.hidden {
  display: none;
}

#bag {
  position: relative;

  &::after {
    content: attr(data-count);
    box-sizing: content-box;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 16px;
    height: 16px;
    padding: 2px;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    background-color: #caa79e;
    color: #fff;
  }
}

.dropdown-content {
  position: relative;
  top: 20px;
  right: 70px;
  width: 230px;
}

.dropdown {
  &__text {
    font-weight: 500;
    color: #393939;

    &--size--16 {
      font-size: 16px;
    }

    &--color--light {
      font-size: 12px;
      font-weight: 300;
      color: #575656;
    }

    &--bold {
      font-weight: 700;
    }
  }
}