<<<<<<< HEAD
@import "../../utils/var";
=======
@import '../../utils/var';
>>>>>>> main

.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
<<<<<<< HEAD
  padding: 0 $default-side-margins;
=======
  padding: 0 120px;
>>>>>>> main
  width: 100vw;
  font-family: Roboto, sans-serif;
  background-color: $main-color;
  z-index: 10;

  &__top-bar {
    display: flex;
    justify-content: space-between;
<<<<<<< HEAD
    padding: 30px 0;
=======
    padding: 32px 0;
    width: 80%;
  }

  &__panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 62px 0;
    height: 44px;
    width: 80%;
>>>>>>> main
  }

  &__right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  &__language-select {
    text-decoration: none;
<<<<<<< HEAD
    font-family: "Tenor Sans", sans-serif;
=======
    font-family: 'Tenor Sans', sans-serif;
>>>>>>> main
    font-size: 24px;
    font-weight: 400;
    color: #fff;
  }

  &__logo {
    text-decoration: none;
    font-family: Kodchasan, sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #525252;
    margin-right: 118px - 52px;
  }

  &__icon {
    width: 24px;
    height: 24px;

    &--w-34 {
      width: 34px;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 52px;
  height: 32px;

  &__link {
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #e2e2e2;

    &:hover::after {
<<<<<<< HEAD
      content: "";
=======
      content: '';
>>>>>>> main
      display: block;
      height: 2px;
      background-color: #fff;
    }

    &:focus {
      color: #caa79e;
    }
  }
<<<<<<< HEAD

  &--sign {
    position: relative;
    left: -100px;
  }
=======
>>>>>>> main
}

.sign-in {
  width: 24px;
  height: 24px;
}

.input {
  box-sizing: border-box;
<<<<<<< HEAD
  padding: 10px 52px !important;
  width: 700px;
  height: 44px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: #fff;
=======
  padding: 10px 0;
  width: 700px;
  height: 44px;
  font-family: 'Tenor Sans', sans-serif;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
>>>>>>> main
  color: #a3a3a3;
  user-select: none;

  &--search {
    display: flex;
    align-items: center;

<<<<<<< HEAD
    .lens {
      position: relative;
      left: 40px;
      width: 24px;
      height: 24px;
      background-image: url("../../img/icon-search-black.svg");
    }

    &::after {
      content: "";
      display: block;
      margin-left: 10px;
      width: 24px;
      height: 24px;
      background-image: url("../../img/icon-search-white.svg");
=======
    &::after {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background-image: url('../../img/icon-search-white.svg');
>>>>>>> main
      cursor: pointer;
    }
  }
}

.hidden {
  display: none;
}

.margin {
<<<<<<< HEAD
  margin-top: 92px;
=======
  margin-top: 100px;
>>>>>>> main
}

#bag {
  position: relative;
<<<<<<< HEAD

=======
  
>>>>>>> main
  &::after {
    content: attr(data-count);
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    padding: 2px;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    background-color: #caa79e;
    color: #fff;
  }
<<<<<<< HEAD
}
=======
}
>>>>>>> main
